/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/news/news.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.news_newsPageWrapper__jtbi1 h1 {
    text-align: center;
    font-size: 30px;
}

.news_newsPageWrapper__jtbi1 ul {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    border: 1px solid #dedede;
    padding: 15px;
    border-radius: 10px;
}

.news_newsPageWrapper__jtbi1 h1 {
    text-transform: capitalize;
}
