/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/(content)/archive/archive-new.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.archive-new_archiveModuleWrapper__g_atx h1 {
    font-size: 22px;
}




.archive-new_archiveModuleWrapper__g_atx .archive-new_ulWrapper__cNYQi {
    display: flex;
    padding: 15px;

}

.archive-new_archiveModuleWrapper__g_atx .archive-new_ulWrapper__cNYQi li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 15px;
    margin: 8px;
    border: 1px solid #dedede;
    border-radius: 10px;
}

.archive-new_archiveModuleWrapper__g_atx .archive-new_ulWrapper__cNYQi li img {
    width: 200px;
    border-radius: 5px;
}

.archive-new_archiveModuleWrapper__g_atx .archive-new_ulWrapper__cNYQi li span {
    display: block;
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
}

.archive-new_archiveModuleWrapper__g_atx .archive-new_ulWrapper__cNYQi li p {
    font-size: 13px;
    text-align: center;
    line-height: 20px;
    font-weight: 500;
}

.archive-new_archiveModuleWrapper__g_atx .archive-new_listStyles__mUf6w {
    display: flex;
    justify-content: space-between;
    width: 12%;
}

.archive-new_archiveModuleWrapper__g_atx .archive-new_listStyles__mUf6w li a {
    font-size: 15px;
    text-decoration: none;
    border-bottom: 1px solid #dedede;
    padding-bottom: 5px;
    color: #111;
}
