.newsPageWrapper h1 {
    text-align: center;
    font-size: 30px;
}

.newsPageWrapper ul {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    border: 1px solid #dedede;
    padding: 15px;
    border-radius: 10px;
}

.newsPageWrapper h1 {
    text-transform: capitalize;
}